{% extends 'base.html' %}
{% block title %}Help{% endblock %}

{% block content %}
<h1>Help</h1>

<button class="help accordion">I didn't get my order receipt</button>
<div class="help panel">
	<p>If you did not receive an order receipt via email after purchase, it's likely that you accidently entered the wrong email address. Email us at <a href="mailto:abultiapparel@gmail.com?subject=Order Receipt Needed">abultiapparel@gmail.com</a> with your name, and we'll send you your receipt and order ID.</p>
</div>

<button class="help accordion">My order didn't arrive yet</button>
<div class="help panel">
	<p>You can track the status of your order via the link you should've received in your order receipt email. If you did not receive this link, see the above question. If your order still has not arrived after the estimated 2-3 weeks (longer if you're international), then email us again at <a href="mailto:abultiapparel@gmail.com?subject=Order hasn't arrived">abultiapparel@gmail.com</a> with your name or order ID.</p>
</div>


<button class="help accordion">How can I cancel an order?</button>
<div class="help panel">
	<p>Each cancellation is a case-by-case basis. Email us at <a href="mailto:abultiapparel@gmail.com?subject=Order Cancellation">abultiapparel@gmail.com</a> to request an order cancelation. We'll be in close contact with you. To expediate your cancellation, please send your order ID, or forward us your receipt email. If you do not have these items, just give us the name under your order.</p>
</div>


<button class="help accordion" id="refund">How do I request a refund?</button>
<div class="help panel">
	<p>Like cancellations, refunds are a case-by-case basis. If you believe that you deserve a refund, or that the product you received was not what you purchased, please email us at <a href="mailto:abultiapparel@gmail.com?subject=Refund Request">abultiapparel@gmail.com</a>. We'll be in close contact with you. You may be requested to return your delivery via mail to qualify for a full refund. To expediate your refund process, please send your order ID, or forward us your receipt email. If you do not have these items, just give us the name under your order.</p>
</div>
{% endblock %}