{% extends "base.html" %}

{% block content %}
<section class="miniShop" id="miniShop" aria-hidden="true" onmouseleave="closeMiniShop()">
	<i class="fas fa-times close" onclick="closeMiniShop()"></i>
	<h2>Quick Look</h2>
	<div class="cardWrapper">
		<div class="shopCard">
			<a href="#"><img src="https://c.shld.net/rpx/i/s/i/spin/image/spin_prod_967011012??hei=64&wid=64&qlt=50" alt="tshirt"/></a>
			<div class="cardCaption">
				<div class="captionInfo">
					<p class="name">Simple T<p>
					<p class="price">$59</p>
				</div>
				<p class="description">Unisex T-Shirt</p>
			</div>
		</div>
	</div>

	<h3><a href="#" class="seeAll">See all</a></h3>
</section>

<section class="hero">
	<h1>Notice:</h1>
	<h3>As we are very small at the moment, our selection of items may be very limited. As our site grows, so will our production capabilities. If you like what you see, consider buying something. :)</h3>
</section>

<section class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "pageDots": false, "contain": true, "freeScroll": true, "wrapAround": true }'>
	<div><img src="https://c.shld.net/rpx/i/s/i/spin/image/spin_prod_967011012??hei=64&wid=64&qlt=50" alt="tshirt" /></div>
	<div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" /></div>
	<div><img src="https://upload.wikimedia.org/wikipedia/en/a/ae/Three_Wolf_Moon.jpg" alt="3 wolf moon" /></div>
	<div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" /></div>
	<div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" /></div>
	<div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" /></div>
	<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/The_Great_Wave_off_Kanagawa.jpg/1280px-The_Great_Wave_off_Kanagawa.jpg" alt="wave" /></div>
</section>

<section class="wrapper">
	<div class="bigImage" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/The_Great_Wave_off_Kanagawa.jpg/1280px-The_Great_Wave_off_Kanagawa.jpg')">
		<img width="100%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/The_Great_Wave_off_Kanagawa.jpg/1280px-The_Great_Wave_off_Kanagawa.jpg" alt="placeholder"/>
	</div>
</section>

<section class="wrapper">
	<h1>Popular Items</h1>

	<div class="cardWrapper home">
		<div class="shopCard">
			<a href="#"><img src="https://c.shld.net/rpx/i/s/i/spin/image/spin_prod_967011012??hei=64&wid=64&qlt=50" alt="tshirt"/></a>
			<div class="cardCaption">
				<div class="captionInfo">
					<p class="name">Diamonds Tee<p>
					<p class="price">$59</p>
				</div>
				<p class="description">Unisex T-Shirt</p>
			</div>
		</div>

		<div class="shopCard">
			<a href="#"><img src="https://c.shld.net/rpx/i/s/i/spin/image/spin_prod_967011012??hei=64&wid=64&qlt=50" alt="tshirt"/></a>
			<div class="cardCaption">
				<div class="captionInfo">
					<p class="name">Simpler T<p>
					<p class="price">$24</p>
				</div>
				<p class="description">Unisex T-Shirt</p>
			</div>
		</div>
	</div>

	<h3><a href="#" class="seeAll">See all</a></h3>

</section>

<footer>
	<div class="columns">
		<div>
			<h4>Shop</h4>
			<a href="#">new releases</a>
			<a href="#">shop all</a>
		</div>
		<div>
			<h4>Social</h4>
			<a href="#">instagram</a>
			<a href="#">twitter</a>
			<a href="#">facebook</a>
		</div>
		<div>
			<h4>Help</h4>
			<a href="#">shipping info</a>
			<a href="#">returns</a>
			<a href="#">contact us</a>
		</div>
	</div>

	<div class="legal">
		<p>By using this site, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
	</div>
	<div class="legal">
		<p>Copyright &copy; 2020 by Abulti Apparel. All rights reserved.</p>
	</div>
</footer>

<link type="text/css" href="https://unpkg.com/flickity@2.2.1/dist/flickity.min.css" rel="stylesheet">
<script src="https://unpkg.com/flickity@2.2.1/dist/flickity.pkgd.min.js"></script>
{% endblock %}
