{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>
<p>Abulti Apparel is commited to protecting your privacy and data. For purely logistical reasons, we do collect data that users submit. For example, if you create an order, then we collect your name, email, and address information that you submit to us. Credit card payments are done via Stripe, a trusted and widely-used third party that handles payment processing. By paying with a credit card, Stripe also collects the same data.</p>

<p>While we also use cookies on this site to store user sessions (information like what you have in your cart, or whether you've seen the cookie notification), we cannot access this information. This data is stored purely on your machine alone, and wiping cookies from your browser wipes it from anything we could do with it. Furthermore, this site uses advanced encryption (TLS) to make sure that hackers don't get this information.</p>

<p>If you have any more questions about your data and Abulti, please feel free to <a href="mailto:abultiapparel@gmail.com">reach out to us</a>!</p>
{% endblock %}