{% extends 'base.html' %}
{% block title %}Return Policy{% endblock %}

{% block content %}
<h1>Return Policy</h1>
<p>If you <a href="{% url 'home:help' %}#refund">request a refund</a> you may be asked to return your items in order to qualify for a full refund. At this stage, you should have already been in contact with us at <a href="mailto:abultiapparel@gmail.com?subject=Refund Request">abultiapparel@gmail.com</a>. Box up all items that you'd like to refund. We'll email you an address label that you can attatch to your return box. Then, using your desired shipping carrier, mail the items back to us. Please note you will need to pay the shipping costs for whatever carrier you choose.</p>
{% endblock %}