{% extends 'base.html' %}
{% block title %}Shipping{% endblock %}

{% block content %}
<h1>Shipping</h1>
<p>Abulti Apparel offers both domestic and international shipping orders. All shipping is free with your purchase.</p>
<h2>Domestic (US) Orders</h2>
<p>Domestic shipping is done via the US Postal Service and should arrive within 2-3 weeks after purchasing. If you did not receive your order in this time, feel free to email us at <a href="mailto:abultiapparel@gmail.com?subject=Order hasn't arrived">abultiapparel@gmail.com</a>.</p>

<h2>International Orders</h2>
<p>International order shipping time varies from country to country, but is expected to take at least 3 weeks. While not costing more, international orders do take longer to complete, so please be aware of this.</p>

<h3>Additional Information</h3>
<ul>
	<li>If you make multiple orders within a similar time period, we may bundle these orders into one set.</li>
	<li>We process orders Monday-Friday (excluding holidays).</li>
	<li>We don’t deliver orders on Sundays or holidays.</li>
</ul>
{% endblock %}