/*detailAndShop.css*/
.shopWrapper{
	display:flex;
}
main{
	padding:50px;
	flex:1;
}
aside{
	min-width:350px;
	background:#EEEEF1;
	padding:1.2em;
}
aside h1{margin:0 0 0.5em 0; color:#333;}
aside h1:first-of-type{font-size:1.7em;}
aside p, aside li{font-family:"Roboto Mono", monospace; color:#444;}
aside label{text-transform: lowercase;}

.itemImage{
	width:100%;
}
.smallImageWrapper{margin-top:5px;}
.smallImageWrapper img{
	min-width:4em;
	max-height: 8em;
	cursor: pointer;
	margin-right:5px;
}

.tagWrapper{
	margin:1.2em 0 0.6em 0;
}
.nameWrapper{
	display:flex;
	align-items: center;
}
.nameWrapper h2{
	margin-left:auto;
}
.nameWrapper h1, h2{
	margin:0;
}

main p{
	font-size:18px;
}

.filter:not(:first-of-type){
	margin-top:10px;
}
.filter select{
	width:100%;
}

.search{
	margin-bottom:10px;
}

/*Cart and Order Form Stuff*/
.spinner {
	width: 80px;
	height: 80px;
	margin:0 auto 1em auto;
	display:none;
}
.spinner div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid;
	border-radius: 50%;
	animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #bb5191 transparent transparent transparent;
}
.spinner div:nth-child(1) {
	animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
	animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.item{
	display:flex;
	align-items: center;
}
.cart .item{
	font-size:18px;
	border-top:3px solid #444;
	padding:15px 0;
}
.cartCheckoutForm .item:not(:last-of-type){margin-bottom:5px;}
.item form{display:inline-block;}

.item .price{margin-left:auto;}
.item .remove{margin-left:5px;}
.item .remove button{
	background:transparent;
	border-radius:5px;
	text-decoration: none;
	display: inline-block;
	border: none;
	cursor: pointer;
	font-size:18px;
}
.item a, .item{font-family:"Roboto Mono", monospace;}
.item a{text-decoration: none; color:#56508c;}
.item a:hover{color:#bb5191;}

.total{text-align: right; margin-bottom:1em; margin-top:4px;}

.cartActions{margin-bottom:2em;}
.cartActions button{
	background:transparent;
	border:2px solid #444;
	padding:10px 5px;
	cursor:pointer;
}
.cartActions button:hover{
	background:rgba(255, 255, 255, 0.8);
}


.formContainer{
	display: flex;
	margin-bottom:3.5em;
	align-items: flex-start;
}
.formWrapper{
	flex:0.6;
	margin:0 15px 0 30px;
}
.formWrapper h3{
	margin:1em 0;
}
.formWrapper h3:not(#contactInformation){
	margin-top:0;
}

.orderWrapper{
	flex:0.4;
	margin:0 30px 0 15px;

}
.formWrapper, .orderWrapper{
	border:4px solid #ccc;
	border-radius: 4px;
	padding:15px;
}
.fieldRow{
	display:flex;
}
.fieldSection{
	flex:1;
	margin-bottom:1em;
}
.fieldSection:nth-child(2){
	margin-left:10px;
}

.fieldSection .error, .card-error{
	margin:0;
	font-family: "Roboto Mono", monospace;
	font-size:13px;
}
.fieldSection label{
	display:block;
	margin-bottom:5px;
	font-size:15px;
	color:#333;
}
.fieldSection input, .input{
	width:100%;
	background:transparent;
	padding:4px 0 5px 0;
	border-style:none;
	border-bottom:1px solid #111;
	border-radius:0;

	border-top:1px dotted transparent;
	border-left:1px dotted transparent;
	border-right:1px dotted transparent;
}
.fieldSection input:focus, .StripeElement--focus{
	border-color:#56508c;
	border-top:1px dotted #111;
	border-left:1px dotted #111;
	border-right:1px dotted #111;
}

.cartCheckoutForm{margin-top:1em;}

#checkoutTitle{margin-left:30px;}

select{
	display: block;
	min-width:3em;
	padding: 5px 1.5em 5px 5px;
	border: 1px solid #444;
	color: #111;
	-moz-appearance: none;
	-webkit-appearance: none;
	background:url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') rgba(255, 255, 255, 0.5);;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}