{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/png" />
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
	<link rel="manifest" href="/site.webmanifest">

	<meta charset="UTF-8">
	<meta name="description" content="Abulti Apparel is a clothing company.">
	<meta name="keywords" content="abulti, apparel, abulti apparel, clothing, streetwear">
	<meta name="author" content="Abulti Apparel Developers">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="Abulti Apparel is a clothing company.">

	<title>{% block title %}Abulti Apparel{% endblock %}</title>

	<link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">

	{% if 'shop' in request.path or 'cart' in request.path %}<link type="text/css" href="{% static 'css/detailAndShop.css' %}" rel="stylesheet">{% endif %}
	
	<link type="text/css" href="{% static 'css/mediaQueries.css' %}" rel="stylesheet">

	{% block head %}{% endblock %}

	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
	<ul class="messages">
		{% if messages %}
	    {% for message in messages %}
	    <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>
	    	<i class="fas fa-times close" onclick="removeNotification(this)"></i>{{ message }}
		</li>
	    {% endfor %}
	    {% endif %}
	</ul>

	{% include "navbar.html" %}

	{% block full_width %}
	{% endblock %}

	<div class="content">
	{% block content %}
	{% endblock %}
	</div>

	<footer>
		<div class="columns">
			<div>
				<h4>Shop</h4>
				<a href="{% url 'shop:shop_new' %}">new releases</a>
				<a href="{% url 'shop:shop_all' %}">shop all</a>
			</div>
			<div>
				<h4>Social</h4>
				<a href="{% url 'blog:index' %}">blog</a>
				<a href="#">instagram</a>
				<a href="#">twitter</a>
			</div>
			<div>
				<h4>Help</h4>
				<a href="{% url 'home:help' %}">help</a>
				<a href="{% url 'home:shipping' %}">shipping info</a>
				<a href="{% url 'home:returns' %}">returns</a>
			</div>
		</div>

		<div class="legal">
			<p>By using this site, you agree to the <a href="{% url 'home:tos' %}">Terms of Service</a> and <a href="{% url 'home:privacy' %}">Privacy Policy</a>.</p>
		</div>
		<div class="legal">
			<p>Copyright &copy; {% now "Y" %} by Abulti Apparel. All rights reserved.</p>
		</div>
	</footer>

	<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
