{% load static %}
<nav>
	<div class="navWrapper">
		<div class="navThird">
			<a href="{% url 'home:index' %}"><img src="{% static 'images/favicon.ico' %}"/></a>
		</div>
	    <div class="navThird">
	    	<a href="{% url 'home:index' %}"><img height="30px" src="{% static 'images/abulti2.png' %}"/></a>
	    </div>
	    <div class="navThird">
			<a href="#" id="new" {% if request.path == "/" %}onmouseover="miniShop()" onfocus="miniShop()" onfocusout="closeMiniShop()" aria-haspopup="true"{% endif %}>new releases</a>
			<a href="#">shop all</a>
			<a href="#" title="0 items in cart"><i class="fas fa-shopping-cart"></i></a>
		</div>
	</div>
	
	<div class="secondaryNavWrapper">
		<a href="#">about</a>
		<a href="#">blog</a>
		<a href="#">help</a>
		<a href="#">shipping</a>
		<a href="#">return policy</a>
	</div>
</nav>
