{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}

<h1>Cart</h1>
{% if cart|length > 0 %}

<div class="cart">
	{% include 'shop/snippets/cart_snippet.html' %}
</div>

<div class="total"><h2>Total — <b>${{ cart.get_total_price }}</b></h2></div>

<div class="cartActions">
	<a href="{% url 'shop:order_create' %}"><button>Check Out</button></a>
	<a href="{% url 'shop:shop_all' %}"><button>Keep Shopping</button></a>
</div>

{% else %}
<p>your cart is empty. <a href="{% url 'shop:shop_all' %}">start shopping.</a></p>
{% endif %}

{% endblock %}