{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ item.name }} {% if item.fit %}{{ item.get_fit_display }}{% endif %} {% endblock %}

{% block full_width %}

<div class="shopWrapper">
<main>
	<div class="imageWrapper">
		<img src="/media/{{ item.image.first.img }}" alt="{{ item.image.first.alt_text }}" class="itemImage"/>
		<div class="smallImageWrapper">
			{% for image in item.image.all %}
				{% if not forloop.first %}
				<a href="/media/{{ image.img }}" target="_blank"><img src="/media/{{ image.img }}" alt="{{ image.alt_text }}"/></a>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="tagWrapper">
		{% if item.in_stock %}
		<div class="tag success">In Stock</div>
		{% else %}
		<div class="tag error">Out of Stock</div>
		{% endif %}

		{% if item.pub_date|is_new_arrival %}
		<div class="tag info">New Arrival</div>
		{% endif %}

		{% for tag in item.tag.all %}
		<div class="tag info">{{ tag }}</div>
		{% endfor %}
	</div>

	<div class="nameWrapper">
		<h1>{{ item.name }}</h1>
		<h2>${{ item.price }}</h2>
	</div>

	<form action="{% url "shop:cart_add" item.id %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="quantity" value="1">
		{% if item.size.all %}
		<div class="sizeSelect">
			<p>Select a size:</p>
			<select id="sizeSelectMain" name="size">
				{% for s in item.size.all %}
				<option name="size" value="{{ s.name }}">{{ s.name }}</option>
				{% endfor %}
			</select>
		</div>
		{% else %}<input type="hidden" name="size" value="">
		{% endif %}
		<button class="buy" style="margin-top:1em" {% if not item.in_stock %}disabled{% endif %}>
			{% if item.in_stock %}Add to Cart{% else %}Out of Stock{% endif %}
		</button>
	</form>

	<p>{% if item.fit %}{{ item.get_fit_display }}{% endif %} <a href="{% url 'shop:by_category' item.get_category_display %}">{{ item.get_category_display }}</a></p>

	<p>{{ item.description }}</p>

	<h2><a href="{% url 'shop:shop_all' %}" class="seeAll">Shop Other</a></h2>
	<div class="cardWrapper">
		{% include "shop/snippets/shop_list.html" with list=shop_other_list %}
	</div>
</main>

<aside>
	<h1>{{ item.name }}</h1>

	<form action="{% url "shop:cart_add" item.id %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="quantity" value="1">
		{% if item.size.all %}
		<div class="sizeSelect">
			<p>Select a size:</p>
			<select id="sizeSelectAside" name="size">
				{% for s in item.size.all %}
				<option name="size" value="{{ s.name }}">{{ s.name }}</option>
				{% endfor %}
			</select>
		</div>
		{% else %}<input type="hidden" name="size" value="">
		{% endif %}
		<button class="buy" style="margin-top:1em" {% if not item.in_stock %}disabled{% endif %}>
			{% if item.in_stock %}Add to Cart{% else %}Out of Stock{% endif %}
		</button>
	</form>

	<p class="price">${{ item.price }}</p>
	<p>{% if item.fit %}{{ item.get_fit_display }}{% endif %} {{ item.get_category_display }}</p>
	<p><a href="{% url 'shop:by_category' item.get_category_display %}" class="seeAll">Shop all {{ item.get_category_display }}s</a></p>

	{% if item.size.all %}
	<h1>Sizing</h1>
	<p>Sizes offered in:</p>
	<ul>
		{% for s in item.size.all %}<li>{{ s.name }}</li>{% endfor %}
	</ul>
	{% endif %}
</aside>
</div>

<script>
	var selectMain = document.getElementById("sizeSelectMain")
	var selectAside = document.getElementById("sizeSelectAside")
	selectMain.addEventListener("change", updateSelectAside);
	function updateSelectAside(){
		selectAside.value = selectMain.value;
	}

	selectAside.addEventListener("change", updateSelectMain);
	function updateSelectMain(){
		selectMain.value = selectAside.value;
	}
	updateSelectMain();
</script>
{% endblock %}