{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}
{% block head %}<script src="https://js.stripe.com/v3/"></script>{% endblock %}

{% block full_width %}
<h1 id="checkoutTitle">Checkout</h1>

<div class="formContainer">

	<div class="formWrapper">
		<h2>Form</h2>
		<form method="POST" id="form">
			<span class="error">{{ form.non_field_errors }}</span>
			{% csrf_token %}

			<h3 id="contactInformation">Contact Information</h3>

			<div class="fieldRow">
				<div class="fieldSection">
					{{ form.name.label_tag }}
					{{ form.name }}
					<p class="error">{{ form.name.errors }}</p>
				</div>

				<div class="fieldSection">
					{{ form.email.label_tag }}
					{{ form.email }}
					<p class="error">{{ form.email.errors }}</p>
				</div>
			</div>
			
			<h3>Shipping address</h3>

			<div class="fieldSection">
				{{ form.shipping_address.label_tag }}
				{{ form.shipping_address }}
				<p class="error">{{ form.shipping_address.errors }}</p>
			</div>
			
			<div class="fieldSection">
				{{ form.shipping_address2.label_tag }}
				{{ form.shipping_address2 }}
				<p class="error">{{ form.shipping_address2.errors }}</p>
			</div>

			<div class="fieldRow">
				<div class="fieldSection">
					{{ form.shipping_city.label_tag }}
					{{ form.shipping_city }}
					<p class="error">{{ form.shipping_city.errors }}</p>
				</div>

				<div class="fieldSection">
					{{ form.shipping_state.label_tag }}
					{{ form.shipping_state }}
					<p class="error">{{ form.shipping_state.errors }}</p>
				</div>
			</div>

			<div class="fieldRow">
				<div class="fieldSection">
					{{ form.shipping_zip.label_tag }}
					{{ form.shipping_zip }}
					<p class="error">{{ form.shipping_zip.errors }}</p>
				</div>

				<div class="fieldSection">
					{{ form.shipping_country.label_tag }}
					{{ form.shipping_country }}
					<p class="error">{{ form.shipping_country.errors }}</p>
				</div>
			</div>

			{{ form.same_billing_address }}
			{{ form.same_billing_address.label_tag }}
			<p class="error">{{ form.same_billing_address.errors }}</p>

			<div id="billing">
				<h3>Billing address</h3>

				<div class="fieldSection">
					{{ form.billing_address.label_tag }}
					{{ form.billing_address }}
					<p class="error">{{ form.billing_address.errors }}</p>
				</div>
				
				<div class="fieldSection">
					{{ form.billing_address2.label_tag }}
					{{ form.billing_address2 }}
					<p class="error">{{ form.billing_address2.errors }}</p>
				</div>

				<div class="fieldRow">
					<div class="fieldSection">
						{{ form.billing_city.label_tag }}
						{{ form.billing_city }}
						<p class="error">{{ form.billing_city.errors }}</p>
					</div>

					<div class="fieldSection">
						{{ form.billing_state.label_tag }}
						{{ form.billing_state }}
						<p class="error">{{ form.billing_state.errors }}</p>
					</div>
				</div>

				<div class="fieldRow">
					<div class="fieldSection">
						{{ form.billing_zip.label_tag }}
						{{ form.billing_zip }}
						<p class="error">{{ form.billing_zip.errors }}</p>
					</div>

					<div class="fieldSection">
						{{ form.billing_country.label_tag }}
						{{ form.billing_country }}
						<p class="error">{{ form.billing_country.errors }}</p>
					</div>
				</div>

			</div>

			<h3>Payment</h3>

			<div id="payment-form">
				<div class="fieldSection">
					<label>Card Number</label>
					<div id="card-number" class="input"></div>
				</div>

				<div class="fieldRow">
					<div class="fieldSection">
						<label>Expiration</label>
						<div id="card-expiry" class="input"></div>
					</div>
					<div class="fieldSection">
						<label>CVC</label>
						<div id="card-cvc" class="input"></div>
					</div>
				</div>

				<div id="card-errors" role="alert">
					<span class="card-error"></span>
				</div>
			</div>

			<br>
			<div class="fieldSection">
				{{ form.notes.label_tag }}
				{{ form.notes }}
				<p class="error">{{ form.notes.errors }}</p>
			</div>

			<div class="spinner" id="spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<button type="submit" data-secret="{{ client_secret }}" id="submitBtn" class="buy">Submit Payment</button>

		</form>
	</div>

	<div class="orderWrapper">
		<h2>Order Summary</h2>
		<div class="cartCheckoutForm">
			{% include 'shop/snippets/cart_snippet.html' %}
			<p>Total price: <b>${{ cart.get_total_price }}</b></p>
		</div>
	</div>

</div>

<script src="{% url 'shop:checkout_js' %}"></script>
{% endblock %}