{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}
{% block head %}<script src="https://js.stripe.com/v3/"></script>{% endblock %}

{% block content %}
<h1>Checkout</h1>

<h2>Order Summary</h2>
<ul>
{% for i in cart %}
	{% with item=i.item  %}
	<li>{{ i.quantity }} {% if i.size != "" %}{{ i.size }} {% endif %}{{ item.name }} for ${{ i.total_price }}</li>
	{% endwith %}
{% endfor %}
</ul>
<p>Total price: ${{ cart.get_total_price }}</p>

<h2>Form</h2>

<form method="POST" id="form">
	{{ form.non_field_errors }}
	{% csrf_token %}

	<h3>Contact Information</h3>
	{{ form.name.label_tag }}
	{{ form.name }}
	<p>{{ form.name.errors }}</p>

	{{ form.email.label_tag }}
	{{ form.email }}
	<p>{{ form.email.errors }}</p>
	
	<h3>Shipping address</h3>

	{{ form.shipping_address.label_tag }}
	{{ form.shipping_address }}
	<p>{{ form.shipping_address.errors }}</p>
	
	{{ form.shipping_address2.label_tag }}
	{{ form.shipping_address2 }}
	<p>{{ form.shipping_address2.errors }}</p>

	{{ form.shipping_city.label_tag }}
	{{ form.shipping_city }}
	<p>{{ form.shipping_city.errors }}</p>

	{{ form.shipping_state.label_tag }}
	{{ form.shipping_state }}
	<p>{{ form.shipping_state.errors }}</p>

	{{ form.shipping_zip.label_tag }}
	{{ form.shipping_zip }}
	<p>{{ form.shipping_zip.errors }}</p>

	{{ form.shipping_country.label_tag }}
	{{ form.shipping_country }}
	<p>{{ form.shipping_country.errors }}</p>

	{{ form.same_billing_address }}
	{{ form.same_billing_address.label_tag }}
	<p>{{ form.same_billing_address.errors }}</p>

	<div id="billing">
		<h3>Billing address</h3>

		{{ form.billing_address.label_tag }}
		{{ form.billing_address }}
		<p>{{ form.billing_address.errors }}</p>
		
		{{ form.billing_address2.label_tag }}
		{{ form.billing_address2 }}
		<p>{{ form.billing_address2.errors }}</p>

		{{ form.billing_city.label_tag }}
		{{ form.billing_city }}
		<p>{{ form.billing_city.errors }}</p>

		{{ form.billing_state.label_tag }}
		{{ form.billing_state }}
		<p>{{ form.billing_state.errors }}</p>

		{{ form.billing_zip.label_tag }}
		{{ form.billing_zip }}
		<p>{{ form.billing_zip.errors }}</p>

		{{ form.billing_country.label_tag }}
		{{ form.billing_country }}
		<p>{{ form.billing_country.errors }}</p>
	</div>

	<h3>Payment</h3>

	<div id="payment-form">
		<div id="card-number"></div>
		<div id="card-expiry"></div>
		<div id="card-cvc"></div>

		<div id="card-errors" role="alert">
			<span class="card-error"></span>
		</div>
	</div>

	<br>
	{{ form.notes.label_tag }}
	{{ form.notes }}
	<p>{{ form.notes.errors }}</p>

	<div class="spinner" id="spinner"></div>
	<button type="submit" data-secret="{{ client_secret }}" id="submitBtn">Submit Payment</button>

</form>

<script src="{% url 'shop:checkout_js' %}"></script>
{% endblock %}